.card-container{
  display: flex;
  padding: 8px;
  margin: 25px 120px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  max-width: 600px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.card-container img{
  max-width: 100px;
  border-radius: 50px;
}

.card-date-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-date-container span{
  font-size: 18px;
}
.card-date-container h4{
  margin: 0;
}

.confirm-container h3{
  text-align: center;
}

.confirm-container button{
  font-weight: 600;
  border: none;
  background-color: rgb(14, 134, 239);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.124);
}

.confirm-container button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 3px 10px 0 rgba(0, 0, 0, 0.124);
}

#select {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.124);
  border: 2px solid rgb(14, 134, 239);
}

#back{
  margin-bottom: 0px;
}

#not-avaliable{
  text-align: center;
  margin-top: 100px;
  padding: 50px 50px;
  background-color: aliceblue;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 10px;
}